services:
  db:
    image: postgres:18-alpine
    container_name: ${CONTAINER_NAME}

    restart: always

    environment:
      POSTGRES_USER: ${PG_USER:-jaeyoung}
      POSTGRES_PASSWORD: ${PG_PW?Password not set!}
      POSTGRES_DB: ${PG_DB:-jaeyoung}
      POSTGRES_INITDB_ARGS: "--encoding=UTF8 --locale=ko_KR.UTF-8"
      TZ: Asia/Seoul

    volumes:
      - postgres-config:/etc/postgresql
      - postgres-data:/var/lib/postgresql
      - postgres-init:/docker-entrypoint-initdb.d

    ports:
      - ${DB_PORT}:5432

    env_file: # container environment
      - ../.env

volumes:
  postgres-config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./conf
  postgres-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./data
  postgres-init:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./init